.RegisterContainer{
    display: table-cell;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-style: normal;       
    font-size: large;  
  }
  
h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
h5 {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
  }
  
input {
    width: calc(100% - 2rem);
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    outline: none;
    transition: border-color 0.2s ease;
  }
  
input:focus {
    border-color: #007bff;
  }
  
#registerBtn{
    width: 100%;
    padding: 0.75rem;
    background-color: #1F3B63;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
#registerBtn:hover {
    background-color: #0056b3;
  }
  
div {
    margin: 0 1rem;
  }
  